 .brands__section .brands__header h2 {
 color: #7e7e82;
 }
 .brands__section .brands__header {
    width: 100%;
    margin: 0;
    padding: 16px 32px;
    box-sizing: border-box;
    border-top: 1px solid #d9fff5;
    background: linear-gradient(90deg, #f8f8f8 0,#f8f8f8 20%, #ffffff 45%, #ffffff 100%); 
 }
 .brands__section {
    background: #f8f8f8;
 }
 .show__more-btn {
    display: inline-flex;
    align-items: center;
    margin: 24px 0 0 32px;
    background: transparent;
    position: relative;
    padding-left: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    min-height: 24px;
    border: none;
    background-color: transparent;
    color:#1b1c21 ;
    letter-spacing: -0.2px;
    cursor: pointer;
   
}

.show__more-btn::before,
.show__more-btn::after {
    content: "";
    position: absolute;
    left: 0px;
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #41f6d7;
    border-bottom: 2px solid #41f6d7;
}

.show__more-btn::before {
    top: 4px;
}

.show__more-btn::after {
    top: 10px;
}

.show__more-btn.active::before,
 .show__more-btn.active::after{    
    transform: rotate(-135deg);

}


@media(min-width: 1120px){
.brands__section {
    margin-left: 320px;
    max-width: calc(100% - 320px);
    padding: 0 0 24px;
    border-top: 1px solid #d9fff5;
    box-sizing: border-box;
   
}
    

.service__brands {
     width: 100%;
     padding: 24px 32px 0;
     box-sizing: border-box;
       
    }

    .service__brands .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 24px;
        width: 100%;
    }

    .service__brands .swiper-slide {
        width: calc((100% - 72px) / 4);
       
    }
   
    .brands__section .brands__header {
        display: block;
        padding: 16px 32px;
        box-sizing: border-box;
        background: linear-gradient(90deg,#f8f8f8 0%, #f8f8f8 20%, #ffffff 100%);
    }
   
    .brands__section .brands__header h2 {
        display: block;
        margin: 0;
        color: #7e7e82;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: -0.2px;
    }


.brand__card {
   width: 100%;
   height: 72px;
   display: flex;
   align-items: center;
}
.service__brands .brand__card.tablet-hidden {
    display: flex !important;
}


.brand__card img {
    max-width: 100%;
    height: auto;
    background: #ffffff;
}




.hidden__brand {
    display: none;
}

.hidden__brand.show{
    display: flex;
}

.swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.swiper-slide{
    opacity: 1;
    visibility: visible;
}

.swiper-pagination {
    display: none;
}
}


@media (min-width: 769px) and (max-width: 1119px) {
    .brands__section {
        width: 100%;
        padding: 0 0 24px;
        box-sizing: border-box;
       
    }
    .service__brands {
        width: 100%;
        max-width: none;
        margin: 24px 0 0;
        padding: 0 24px;
        box-sizing: border-box;
        overflow: visible;
     }
    .brand__card {
       flex: 0 0 calc((100% - 32px) / 3);
       width: calc((100% - 32px) / 3); 
       min-width: 0;
       margin: 0;
       box-sizing: border-box;
       background-color: #f8f8f8;
}
    }
    .tablet-hidden {
        display: none;
    }
    .hidden__brand{
        display: none;
    }
    .hidden__brand.show {
    display: flex;
    }

    .swiper-wrapper {
    display: flex;
   flex-wrap: wrap;
   gap: 16px;
   width: 100%;
   max-width: none;
   margin: 0 auto;
   transform: none;
}
        
    

   .swiper-pagination {
    display: none;
   }

    .show__more-btn{
        display: inline-flex;
        align-items: center;
        margin-top: 24px;
        margin-left: 0;
        padding-left: 22px;
        background: transparent;
        min-height: 24px;
        line-height: 24px;
    }

    


@media (max-width:320px) {
   
   .brands__section {
        width: 100%;
        padding: 0 0 24px;
        box-sizing: border-box;
      
       
    }
    .brands__section .brands__header {
        width: 100%;
        margin:0;
        padding: 16px;
        box-sizing: border-box;
    }
    .service__brands {
        position: relative;
        width: 100%;
        margin: 16px 0 0;
        padding-left: 16px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .service__brands .swiper-wrapper {
        display: flex;
        flex-wrap: nowrap;
        transition-property: transform;
        box-sizing: content-box;
        
    }
    .service__brands .brand__card.swiper-slide{
       flex-shrink: 0;
       position: relative;
       
    }
   .service__brands .swiper-pagination {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 100%;
      margin: 16px 0 0;
}

.service__brands .swiper-pagination-bullet {
     display: block;
     flex: 0 0 12px;
     width: 12px;
     height: 12px;
     margin: 0 ;
     border-radius: 50%;
     background-color: #dddddd;
     opacity: 1;
}

.service__brands .swiper-pagination-bullet-active {
    background-color: #b5b6bc;
}

    .brand__card.swiper-slide {
        width: 240px;
        height: 72px;
        flex-shrink: 0;
    }

    .show__more-btn{
        display: none;
    }
    .swiper-wrapper {
        flex-wrap: nowrap;
        gap: 0;
    }
    .swiper-pagination {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 5px;
        margin-left: -25px;
       
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #dddddd;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: #b5b6bc;
        opacity: 1;
    }

    .tablet-hidden{
        display: flex;
    }
}
@media(min-width: 1120px) {
    .brands__section .show__more-btn{
        margin: 24px 0 0 32px;
    }
}

  




