.prices {
    background-color: #f8f8f8;
    padding-bottom: 40px;
    border-bottom: 1px solid #d9fff5;
    box-sizing: border-box;
}
.prices .prices__header {
    display: block;
    width: 100%;
    padding: 16px 32px;
    box-sizing: border-box;
    border-top: 1px solid #d9fff5;
    background: linear-gradient(90deg,#f8f8f8 0%, #f8f8f8 20%, #ffffff 45%, #ffffff 100%); 
} 
.prices__header h2 {
    display: block;
    margin: 0;

    color: #7e7e82;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}
.prices__row--header {
    min-height: 64px;
    background-color: #f8f8f8;
    color: #7e7e82;
}
.prices__row {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 64px;
    padding: 0 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
}
.prices__row:not( .prices__row--header) {
    background-color: #ffffff;
}
.prices__services {
    display: flex;
    flex-direction: column;
    margin: 24px 32px 0;
    width: auto;
}

.prices__service {
   
    flex: 0 0 45%;
   
}
.prices__price {
    flex: 0 0 20%;
}
.prices__time {
    flex: 0 0 20%;
}
.prices__button {
    flex: 0 0 15%;
    box-sizing: border-box;
    
    height: 32px;
    padding: 0 16px;

    background-color: #ff3e79;
    border: none;
    border-radius: 16px;

    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;

    position: relative;
    padding: 0 32px 0 16px;
    text-align: left;
}
.prices__button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 14px;

    width: 6px;
    height: 6px;

    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;

    transform: translateY(-50%) rotate(-45deg);
}
.prices__info {
    width: calc(100% - 64px);
    max-width: 470px;
    margin: 24px 24px 0 0;
    box-sizing: border-box;
}
.prices__note {
    margin: 0 0 16px;
    color: #1b1c21;
    font-size: 14px;
    line-height: 20px;
}
.prices__offer {
    position: relative;
    display: inline-block;
    padding: 8px 16px 16px 0;
    color: #1b1c21;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}
.prices__offer::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2px;

  width: 6px;
  height: 6px;

  border-right: 2px solid #ff3e79;
  border-bottom: 2px solid #ff3e79;

  transform: translateY(-50%) rotate(-45deg);
}
@media (min-width: 1120px) {
    .prices {
    margin-left: 320px;
    max-width: calc(100% - 320px);
    box-sizing: border-box;
    }
}
@media (max-width: 767px) {
  .prices {
    margin-left: -16px;
  }
  .prices__row--header {
    display: none;
   
  }

  .prices__services {
    position: relative;
    overflow: hidden;
    padding: 16px 0 0;
    box-sizing: border-box;
    font-family: 'TT Lakes', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1b1c21;
   
  }

  .prices__wrapper {
    display: flex;
    box-sizing: content-box;
  }

  .prices__row.swiper-slide {
    position: relative;
    flex: 0 0 250px;
    width: 250px;
    height: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 6px;
  }

  .prices__service,
  .prices__price,
  .prices__time {
    width: auto;
  }

  .prices__button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    margin: 0;
    margin-top: 8px;
    align-self: flex-end;
  }

  .prices__pagination {
    position: static;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 16px;
    padding-bottom: 16px;
  }

  .prices__pagination .swiper-pagination-bullet {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    border-radius: 50%;
    background-color: #dddddd;
    opacity: 1;
  }

  .prices__pagination .swiper-pagination-bullet-active {
    background-color: #b5b6bc;
  }
  .prices__service,
  .prices__price,
  .prices__time {
    display: block;
    margin: 0;
  }
  .prices__service {
    margin-bottom: 12px;
  }
  .prices__price {
    margin-bottom: 24px;
    margin-top: -20px;
  }
  .prices__time {
    margin-bottom: 0;
  }
  
  .prices__service::before,
  .prices__price::before,
  .prices__time::before {
    display: block;
    margin-bottom: 4px;
    color: #7e7e82;
    font-size: 14px;
    line-height: 16px;
  }

  .prices__service::before {
    content: 'Ремонтные услуги';
    margin-bottom: 4px;
  }

  .prices__price::before {
    content: 'Цена';
    margin-bottom: 4px;
  }

  .prices__time::before {
    content: 'Срок';
    margin-bottom: 4px;
  }
  .prices__info{
   margin-left: 32px;
   margin-right: 32px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
  .footer__copyright,
  .footer__privacy {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .footer__information {
    width: 312px;
    margin: 0 ;
    text-align: center;
    margin-left: -45px;
  }

}
