@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "TT Lakes", sans-serif;
    padding: 0;
   
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 320px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 23px 24px 0 24px;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80,0.2), 
    -2px 0 4px 0 rgba(69,79,126,0.02);

    
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:46px; ;
    
}
.sidebar__logo {
    margin-left: 16px;
    
}
.sidebar__logo img {
    display: block;
    width: 96px;
    height: 50px;
   
}
.sidebar__header-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition:opacity 0.3s;
}

.sidebar__header-button:hover {
    opacity: 0.7;
}

.sidebar__search {
    margin-left:auto;
   
}


.sidebar__line {
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-radius: 0 4px 4px 0;
    margin-left: -24px;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -24px;
    margin-bottom: 24px;
}

.sidebar__menu-item {
    color: #1b1c21;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.sidebar__menu-item-active {
    color: #7e7e82
}

.sidebar__menu-item:hover {
    color: #7e7e82;
}

.sidebar__footer {
    margin-top: auto;
    margin-bottom: 24px;
    padding-top: 70px;
    
}

.sidebar__footer-button {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    margin-left: -4px;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s;
   
}

.sidebar__footer-button:hover {
    opacity: 0.7;
}

.sidebar__footer-email {
    display: block;
    margin-top: 16px;
    color: #1b1c21;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-size: 16px;
    font-weight: 500;
}

.sidebar__footer-phone {
    display: block;
    margin-top: 12px;
    color: #1b1c21;
    text-decoration: none;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-size: 24px;
    font-weight: 700;
}

.sidebar__footer-lang{
    display: flex;
    gap: 7px;
    margin-top: 50px;
   
}

.sidebar__footer-lang-link {
    color: #1b1c21;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.sidebar__footer-lang-link-active {
    color: #7e7e82;
}


.container {
    
    width: 100%;
    margin-left: 320px;
}

@media(max-width:1119px){
    .container{
        margin-left: 0;
    }
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #ffffff;
    
}




.header__main {
    display: flex;
    align-items: center;
    gap: 20px;
}  

.header__menu-button,
.header__action-button {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}


.header__repair-text,
.header__text {
display: none;
}

.divider {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
   
}

.divider--mobile {
    display: block;
}

.divider--tablet-left,
.divider--tablet-right {
    display: none;
}




.header__menu
.header__repair
.header__search {
    width: 40px;
    height: 40px;
   
}

.header__logo {
    width: 96px;
    height: 50px;
    
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 0;
   
}

 .header__call,
    .header__chat,
    .header__profile {
        display: none;
    }   
    

   
.services {
    background-color: #f8f8f8;
    padding: 16px;
    width: 100%;
    max-width: 100%;
}
    
.services__header {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 16px;
}  

.services__actions {
    display: none;
}

.services__line {
    width: 4px;
    height: 40px;
    background-color: #41f6d7;
    border-radius: 0 4px 4px 0;
    margin-left: -16px;
  
}

.services__tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 16px;
    margin-top: 16px;
}

.services__tab {
   
    flex:0 0 auto;
    height: 40px;
    font-weight: 500;
    padding: 8px 16px;
    background-color: #f8f8f8;
    color: #7e7e82;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid transparent;
}
.services__tab:hover {
    border-color: #41f6d7;
   
}

.services__tab--active {
    
    background-color: #ffffff;
    border-color: #b8ffec;
    color: #7e7e82;
}
.services__tab--review {
    display: none;
}  
.services__content {
    margin-top: 24px;
    width: 100%;
   
    
    
   
}
.services__text {
   
    font-size: 14px;
    line-height: 20px ;
    color: #1b1c21;
   
}
.services__more {
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    min-height: 24px;
}


.services__more::before,

.services__more::after {

    content: "";

    position: absolute;

    left: 0;

    width: 6px;

    height: 6px;

    border-right: 2px solid #41f6d7;

    border-bottom: 2px solid #41f6d7;

    transform: rotate(45deg);

}

.services__more::before {

    top: 4px;

}

.services__more::after {

    top: 10px;

}
.services__image {
    margin: 24px -16px 0;
    width: auto;
    border-radius: 8px;
    overflow: hidden;
}
    
   

.services__photo {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
  
}

.services__text--tablet {
    display: none;
}
.services__tab--desktop-only {
    display: none;

}

@media (min-width:769px) {
   
    .header__call,
    .header__chat,
    .header__profile {
        display: block;
    }  
   .divider--mobile {
        display: none;
    }  
    .divider--tablet-left,
    .divider--tablet-right {
        display: block;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }
    .divider--tablet-left {
      margin-left: 20px; 
      margin-right: 20px;
        
    }
    .divider--tablet-right {
        margin-left: 20px;
        margin-right: 20px;
           
        }
   .services__content {
        display: flex;
        align-items: flex-start;
        gap: 48px;
       
    }
   
        
      
    
    .services__image {
        flex: 0 0 360px;
        
    }
    .services__text--tablet {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
       
    }
    .services__tab--desktop-only {
        display: none;

    }
    

   
}

 @media (min-width: 1120px) {     
    .container { 
        margin-left: 320px;
        max-width: calc(100% - 320px);
    }   

    main {
    width: 100%;
    }
        
    
   header {
    display: none;

   }
   
    .header__menu,
    .header__logo,
    .header__call,
    .header__chat,
    .header__profile {
        display: none;
    }
    .divider--mobile,
    .divider--tablet-left,
    .divider--tablet-right {
        display: none;
    
 }
 .header__repair-text,
 .header__text {
    display: block;
    font-family: "TT Lakes";
    font-weight: 500;
}
.header__action-button{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 32px;
}



.services__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 36px;
    
}

.services__info {
    flex: 1;


}
.services__text {
    font-family:"TT Lakes";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1b1c21;
    padding-left: 34px;

}
.services__text--tablet{
    display: block;
    -webkit-line-clamp: unset;
    overflow: visible;
}
.services__tab--active {
    background: transparent;
    border: 2px solid transparent;
    color: #7e7e82;
}
.services__tab--desktop-only.services__tab--active {
    background-color: #ffffff;
    border-color: #b8ffec;
}   
.services__tab--desktop-only {
    display: block;
}


 .services__actions {
   display: block;
 }
 .services__line {
   display: block;
 }

 .services__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
   
 }
 .services__title{
    margin-left:  30px;
 }
 .services__actions {
    margin-left: auto;
    display: flex;
    gap: 16px;
    
 }
.services__tabs {
    padding-left: 32px;

    overflow-x: visible;
    flex-wrap: wrap;
   
}   
.services__tab {
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    flex: 0 0 auto;
}

  
  
.services__more {
margin-left: 32px;
}
.services__image {
   flex: 0 0 600px;
   padding-right: 28px;
   margin-bottom: 49px;
   margin-top: 5px;
}

}
@media(min-width: 1120px){
.brands__section {
    margin-left: 320px;
    max-width: calc(100% - 320px);
    max-width: none;
    padding: 16px 32px 24px;
    border-top: 1px solid #d9fff5;
    background: linear-gradient(180deg, #f8f8f8 0,#f8f8f8 80px, #ffffff 80px, #ffffff 100%);
    box-sizing: border-box;

}
    }

h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.service__brands {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 24px auto 0;
    gap: 32px;
   
}

.brand__card {
   width: calc ((100% -96px) / 4);
   height: 72px;
   display: flex;
   align-items: center;
}
  

.brand__card img {
    max-width: 100%;
    height: auto;
    background: #ffffff;
}

.show__more-btn {
    position: relative;
    padding-left: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    min-height: 24px;
    border: none;
    background-color: #f8f8f8;
    color:#1b1c21 ;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.show__more-btn::before,
.show__more-btn::after {
    content: "";
    position: absolute;
    left: 6px;
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #41f6d7;
    border-bottom: 2px solid #41f6d7;
}

.show__more-btn::before {
    top: 4px;
}

.show__more-btn::after {
    top: 10px;
}

.show__more-btn.active::before,
 .show__more-btn.active::after{    
    transform: rotate(-135deg);

}



.hidden__brand {
    display: none;
}

.hidden__brand.show{
    display: flex;
}

.swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.swiper-slide{
    opacity: 1;
    visibility: visible;
}

.swiper-pagination {
    display: none;
}

@media (max-width: 769px) {
    .brands__section {
        padding: 16px 24px;
       
    }
    .service__brands {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        max-width: 704px;
       
     }
    .brand__card {
        width: 224px;
    }
    .tablet-hidden {
        display: none;
    }
    .swiper-wrapper {
        flex-wrap: wrap;
        gap: 16px;
        max-width: 704px;
        margin: 0 auto;
    }

    .header__main{
        max-width: 704px;
        margin: 0 auto;
        
    }

    .show__more-btn{
        display: block;
        margin-left: calc((100% - 704px) / 2);
    }
}
    


@media (max-width:320px) {
   
   .brands__section {
        padding: 16px;
      
       
    }
    .service__brands.swiper-pagination {
        max-width: none;
        overflow: hidden;
      
       
     }
    .brand__card.swiper-slide {
        width: 240px;
        height: 72px;
        flex-shrink: 0;
    }

    .show__more-btn{
        display: none;
    }
    .swiper-wrapper {
        flex-wrap: nowrap;
        gap: 0;
    }
    .swiper-pagination {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 5px;
        margin-left: -25px;
       
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #dddddd;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: #b5b6bc;
        opacity: 1;
    }

    .tablet-hidden{
        display: flex;
    }
}

  


