@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url("../fonts/TTLakes-Bold.ttf");
    font-weight: 700;
}

@import "variables";
@import "sidebar";
@import "header";
@import "services";
@import "brands";
@import "repair-types";

body {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes", sans-serif;
}


* {
    box-sizing: border-box;
}

body {
    font-family: "TT Lakes", sans-serif;
    padding: 0;
   
}


.container {
  margin-left: 320px;
  width: calc(100% - 320px);
}
    
   


@media(max-width:1119px){
    .container {
        margin-left: 0;
        width: 100%;
     
       
    }
}
.divider {
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
   
}

.divider--mobile {
    display: block;
}

.divider--tablet-left,
.divider--tablet-right {
    display: none;
}

@media (min-width:769px) {
   
    .divider--mobile {
        display: none;
    }  
    .divider--tablet-left,
    .divider--tablet-right {
        display: block;
        width: 2px;
        height: 32px;
        background-color: #eaeaea;
    }
    .divider--tablet-left {
      margin-left: 8px; 
      margin-right: 8px;
        
    }
    .divider--tablet-right {
        margin-left: 8px;
        margin-right: 8px;
           
        }
  }

 @media (min-width: 1120px) {     
    .container { 
        margin-left: 320px;
        max-width: calc(100% - 320px);
    }   

    main {
    width: 100%;
    }
    .divider--mobile,
    .divider--tablet-left,
    .divider--tablet-right {
        display: none;
    
 }
 
}

h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

